<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations, <%= @user %> !</h1>
    <p>
      You have successfully created books with title <%= @book.title %>.
    </p>
  </body>
</html>